# FE Stats Character Analysis

### A notebook to showcase the distributions of stat lines for the following characters
- #### ***Marth***
- #### ***Linde***
- #### ***Palla***
- #### ***Alm***
- #### ***Roy***
- #### ***Lilina***
- #### ***Claude***
- #### ***Lysithea***

### For each character, the following considerations are applied regarding data collection
- #### *Analysis based on comparison with character with most amount of appearances (provided stats are comparable) and stat disribution (in %) after normalizing data and averaging*
- #### *Use base stats from joining time*
- #### *Include DLC and other means outside of strict base game availability*
- #### *No spin-offs (except FEH)*
- #### *Do not include seasonal FEH alts*

### The analysis aims find out how the average stat line describes the character's key attributes based on an interpretation of what each individual stat means and how it is measured. Then it will be utilized to see if there is parity between the in-game descriptions and lore of the character and the stats they are attributed as a player unit.

### **Analysis**

In [1]:
import pandas

In [ ]:
def filter_dataframe(_dataframe: pandas.DataFrame, _character_name: str, _index_labels: list):
    """
    Helper function to slice the dataframe based on character name.
    Will also rename the indices from the index label list argument.

    Args:
        _dataframe: DataFrame instance to slice. Should be of the form described in the CSV file.
        _character_name: String that represents the target character's name to act as a key for filtering.add()
        _index_labels: List of labels to replace the resulting dataframe's index labels.

    Returns:
        filtered_stat_lines_dataframe: A new DataFrame instance representing the filtered stat line dataframe for the target character.

    Raises:
        exc: Exception
    """
    try:
        filtered_stat_lines_dataframe = _dataframe[_dataframe.character.__eq__(_character_name)]
        # [FE Stats Classifier/FE_Stats_Data_Analysis]: No need for the character column after filter
        filtered_stat_lines_dataframe = filtered_stat_lines_dataframe.drop("character", axis=1)

        index_dict = {}

        for i in filtered_stat_lines_dataframe.index:
            index_dict[i] = _index_labels[i]

        filtered_stat_lines_dataframe = filtered_stat_lines_dataframe.rename(index=index_dict)
        
        return filtered_stat_lines_dataframe
    except Exception as exc:
        print(f"[FE_Stats_Data_Analysis/filter_dataframe]: {str(exc)}")

#### What Does Each Stat Mean?

- Some text (i want to code first)

#### Getting the Data

In [31]:
stat_lines_dataframe = pandas.read_csv("../Data/FE_Stats_Data.csv")
# [FE Stats Classifier/FE_Stats_Data_Analysis]: If NaN is found, means we shouldn't include that rows value in calculations later. 
# So replace with a sentinel value.
stat_lines_dataframe.fillna(-99, inplace=True)
# [FE Stats Classifier/FE_Stats_Data_Analysis]: Ensure all numeric columns are ints for consistency
stat_lines_dataframe = stat_lines_dataframe.astype({ "skl": int, "lck": int })
# [FE Stats Classifier/FE_Stats_Data_Analysis]: Drop last column as it doesn't matter here
stat_lines_dataframe.drop("label", axis=1, inplace=True)
stat_lines_dataframe.head()

   hp  atk  skl  spd  lck  def  res character
0  18    5    3    7    7    7    0     Marth
1  22    6    8    9    8    7    0     Marth
2  18    5    3    7    7    7    0     Marth
3  26    8   10   10    9    8    0     Marth
4  68   31   35   34   39   24   15     Marth

#### Marth Stat Line Breakdown

In [37]:
marth_index_labels = ["FE1","FE3","FE11","FE12","FE13 (Prince)","FE13 (King)","FE14","FE15","FEH (Base)","FEH (Legend)","FEH (Youth)","FEH (Brave)","FEH (Plot Ghost)"]
marth_stats_dataframe = filter_dataframe(stat_lines_dataframe, "Marth", marth_index_labels)
marth_stats_dataframe

                  hp  atk  skl  spd  lck  def  res
FE1               18    5    3    7    7    7    0
FE3               22    6    8    9    8    7    0
FE11              18    5    3    7    7    7    0
FE12              26    8   10   10    9    8    0
FE13 (Prince)     68   31   35   34   39   24   15
FE13 (King)       77   38   40   41   40   31   20
FE14              29   15   23   22   24   15   10
FE15              32   15   16   15   12   10    6
FEH (Base)        19    7  -99    8  -99    7    6
FEH (Legend)      18    8  -99   10  -99    8    4
FEH (Youth)       19    8  -99    9  -99    8    7
FEH (Brave)       19   11  -99   13  -99    8    3
FEH (Plot Ghost)  19   10  -99    8  -99    9   10

- A couple things to take note of:
    - Some joining stat lines vary more than the rest due to Marth's availablility through DLC and other means, which often are adjusted to late-game standards
    - Sentinal values are used only in the FEH stat lines since that game doesn't have Skl or Lck stats